.projects-section {
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  overflow: auto;
  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    grid-auto-rows: 1fr;
    gap: 20px;
    justify-content: center;
    padding-bottom: 50px;
    ul {
      padding-left: 10px;
      list-style-type: disc;
      font-weight: lighter;
    }
  }
}
