.project-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);

  text-align: center;
  color: var(--mainText);
  .modal-container {
    width: 90%;
    height: calc(100vh - 4rem);
    height: calc(var(--vh, 1vh) * 100 - 4rem);
    overflow: hidden;
    margin: 2rem auto;
    background-color: var(--mainBackground);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-y: scroll;
    position: relative;
    -webkit-box-shadow: 0px 0px 0.5rem 0px var(--mainText);
    -moz-box-shadow: 0px 0px 0.5rem 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 0.5rem 0px rgba(255, 255, 255, 1);
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
    @media only screen and (min-width: 768px) {
      &::-webkit-scrollbar-thumb {
        background: #434343;
        border-radius: 16px;
        box-shadow: inset 2px 2px 2px hsl(0deg, 0%, 100% / 25%),
          inset -2px -2px 2px rgb(0, 0, 0 / 25%);
      }
      &::-webkit-scrollbar-track {
        background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
      }
      &::-webkit-scrollbar {
        width: 16px;
        height: 16px;
      }
    }
  }
  .modal-head {
    position: fixed;
    top: 2rem;
    width: 90%;
    z-index: 10;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondaryBackground);
    color: var(--mainText);
    @media only screen and (max-width: 768px) {
      top: 0;
      width: 100%;
    }
    .dots-wrapper {
      display: flex;
      padding: 10px;
      .browser-dot {
        background-color: black;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 5px;
        line-height: 12px;
        cursor: pointer;
        -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
        @media only screen and (max-width: 768px) {
          height: 18px;
          width: 18px;
        }
      }
      #dot-1 {
        display: grid;
        justify-items: center;
        background-color: #fc6058;
        @media only screen and (max-width: 768px) {
          color: #fff;
        }
      }

      #dot-2 {
        background-color: #fec02f;
        color: #fec02f;
      }

      #dot-3 {
        background-color: #2aca3e;
        color: #2aca3e;
      }
    }
    &:hover {
      #dot-1,
      #dot-2,
      #dot-3 {
        color: #fff;
      }
    }
  }
  .modal-body {
    text-align: left;
    width: 100%;
    margin: 2rem auto;
    height: fit-content;
    display: grid;
    padding: 1rem;
    grid-template-areas: "image description";
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    color: var(--mainText);
    @media only screen and (max-width: 768px) {
      grid-template-areas: "image image" "description description";
    }
    .project-img {
      grid-area: image;
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }
    }
    .project-details {
      grid-area: description;
      margin-top: 20%;
      .project-desc {
        color: var(--mainText);
      }
      .project-technologies {
        margin: 1rem 0;
        color: var(--mainText);
        .technology {
          display: inline-block;
          padding: 0.5rem 1rem;
          margin: 0.3rem;
          // background: var(--buttonText);
          // color: var(--tertiaryBackground);
          border: 1px solid var(--tertiaryBackground);
          border-radius: 10px;
          color: var(--mainText);
        }
      }
      .project-links {
        .btn {
          display: inline-block;
          padding: 0.5rem 1rem;
          margin: 0 0.5rem;
          background: var(--buttonColor);
          color: var(--buttonText);
          border-radius: 5px;
          border: 2px solid #fec02f;
          &:hover {
            background: var(--buttonColor);
            color: var(--buttonText);
          }
        }
      }
    }
  }
  .modal-footer {
    position: fixed;
    bottom: 2rem;
    width: 90%;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid var(--borderColor);
    background-color: var(--secondaryBackground);
    @media only screen and (max-width: 768px) {
      bottom: 0.1rem;
      width: 100%;
    }
  }
}
