.project-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);

  text-align: center;
  color: #fff;
  .modal-container {
    width: 90%;
    height: calc(100vh - 4rem);
    margin: 2rem auto;
    background-color: var(--secondaryColor);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow-y: scroll;
    position: relative;
    @media only screen and (max-width: 768px) {
      width: 95%;
    }
  }
  .modal-head {
    position: fixed;
    top: 2rem;
    width: 90%;
    z-index: 10;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--mainColor);
    @media only screen and (max-width: 768px) {
      top: 0;
      width: 95%;
    }
    .dots-wrapper {
      display: flex;
      padding: 10px;
      .browser-dot {
        background-color: black;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        margin: 5px;
        line-height: 12px;
        cursor: pointer;

        -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
      }
      #dot-1 {
        background-color: #fc6058;
        color: #fc6058;
      }

      #dot-2 {
        background-color: #fec02f;
        color: #fec02f;
      }

      #dot-3 {
        background-color: #2aca3e;
        color: #2aca3e;
      }
    }
    &:hover {
      #dot-1,
      #dot-2,
      #dot-3 {
        color: #fff;
      }
    }
  }
  .modal-body {
    text-align: left;
    width: 100%;
    margin: 2rem auto;
    height: 100%;
    display: grid;
    padding: 0 1rem;
    grid-template-areas: "image description";
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    @media only screen and (max-width: 768px) {
      grid-template-areas: "image image" "description description";
    }
    .project-img {
      grid-area: image;
      width: 100%;
      h1 {
        font-size: 2.5rem;
      }
    }
    .project-details {
      grid-area: description;
      margin-top: 20%;
      .project-desc {
        color: #000;
      }
      .project-technologies {
        margin: 1rem 0;
        color: #000;
        .technology {
          display: inline-block;
          padding: 0.5rem 1rem;
          margin: 0.3rem;
          background: #2aca3e;
          color: #fff;
        }
      }
      .project-links {
        .btn {
          display: inline-block;
          padding: 1rem 2rem;
          margin: 0 0.5rem;
          color: #000;
          border-radius: 5px;
          border: 2px solid #fec02f;
          &:hover {
            background: #fec02f;
            color: #fff;
          }
        }
      }
    }
  }
  .modal-footer {
    position: fixed;
    bottom: 2rem;
    width: 90%;
    height: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    @media only screen and (max-width: 768px) {
      bottom: 0.1rem;
      width: 95%;
    }
  }
}
